<template lang="html">
    <div class="basket-list__right-part_loaded">
        <button class="btn" @click="showTheModal">dodaj w koszyk</button>
        <transition name="add-modal" v-on:after-leave="afterModalLeave">
            <div class="add-modal" v-if="showModal">
                <div class="add-modal__overlay"></div>
                <div class="add-modal__dialog" v-click-outside="closeTheModal">
                    <div class="add-modal__content">
                        <button class="close-btn" @click="closeTheModal"></button>
                        <div class="add-modal__image-wrapper">
                            <div class="add-modal__image">
                                <img :src="image" :alt="name">
                            </div>
                        </div>
                        <div class="product-order add-modal__product-order" :class="{'product-order_loading' : sending}">

                            <header>
                                <h5>{{ name }}</h5>

                                <p>#{{ uid }}</p>
                                <template v-if="!offer_price">
                                    <span class="price">{{ price }} PLN</span>
                                </template>
                                <template v-else>
                                    <span class="price price_new">{{ offer_price }} PLN</span>
                                    <span class="price price_old">{{ price }} PLN</span>
                                </template>
                            </header>

                            <form @submit.prevent="addToBasket">

                                <div class="product-order__radiobutton-part">
                                    <div class="product-order__form-group">
                                        <h3>kolor</h3>
                                        <div class="product-order__color-radiobuttons">
                                            <label class="color-radiobutton" v-for="(color, index) in colors">
                                                <input type="radio" name="color" :value="color" v-model="chosenData.color" :checked="(index > 0) ? false : true">
                                                <span><i :style="{'background-color': color}"></i></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="product-order__form-group">
                                        <h3>rozmiar</h3>
                                        <div class="product-order__size-radiobuttons">
                                            <label v-for="size in calculatedSizes" class="size-radiobutton" :class="size.absent ? 'size-radiobutton_absent' : ''">
                                                <input type="radio" name="size" :value="size.value" v-model="chosenData.size" :disabled="size.absent ? true : false " :checked="size.checked ? true : false">
                                                <span>{{ size.value }}</span>
                                            </label>
                                        </div>

                                        <span class="product-order__size-table" @click="showSizeTable">tabela rozmiarowa</span>
                                        <size-table ref="sizeTable"></size-table>

                                    </div>

                                </div>

                                <div class="product-order__form-group">
                                    <label for="quantity">ilość produktów</label>
                                    <select class="select product-order__quantity-select" v-model="chosenData.quantity" name="quantity" id="quantity">
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                    </select>
                                </div>

                                <button class="btn" :class="{ 'btn_disabled': sending }" :disabled="sending ? true : false" type="submit">dodaj do koszyka</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <added-to-basket ref="addedBasket"></added-to-basket>
    </div>
</template>

<script>

  import addedBasket from './added-to-basket.vue';
  import sizeTable from './size-table.vue';

  export default {
    data() {
      return {
        showModal: false,
        chosenData: {
          _token: window.LaravelToken,
          product_id: this.id,
          color: this.colors[0],
          size: '',
          quantity: 1
        },
        sending: false,
        success: false
      }
    },
    components:{
      'added-to-basket': addedBasket,
      'size-table': sizeTable
    },
    methods: {
      closeTheModal(){
        this.showModal = false;
      },
      afterModalLeave(){
        if(this.success){
          let messageInst = this.$refs.addedBasket;
          messageInst.showMessage();
          this.success = false;
        }
      },
      showTheModal(){
        this.showModal = true;
      },
      addToBasket(){
        let self = this;
        self.sending = true;
        axios.post('/basket/add',this.chosenData).then(response => {
          if(response.data.status === true){
            window.basketData.loading = true;
            axios.post('/basket/count').then(response => {
              window.basketData.loading = false;
              window.basketData.count = response.data;
              this.$emit('basketupdate');
            });
            self.closeTheModal();
            self.success = true;
            this.$emit('refetchbasket');
          }else{
            let messageId = '_' + Math.random().toString(36).substr(2, 9);
            window.messages.push({
              id: messageId,
              title: response.data.message.title,
              message: response.data.message.text,
              stateClass: response.data.message.class,
              timeout: response.data.message.timeout ? response.data.message.timeout : 5000
            });
          }
          self.sending = false;
        }).catch(err => {
          self.sending = false;
          console.log(err.response);
          let messageId = '_' + Math.random().toString(36).substr(2, 9);
          window.messages.push({
            id: messageId,
            title: 'Niepowodzenie',
            message: `Błąd z kodem ${err.response.status}`,
            stateClass: 'fixed-messages__item_error',
            timeout: 9000
          })
        });
      },
      showSizeTable(){
        let sizeTableInst = this.$refs.sizeTable;
        sizeTableInst.showTable();
      }
    },
    computed: {
      calculatedSizes: function(){
        let temp = [],
          checkedSize = true,
          self = this;
        for(let i = 34; i<=56; i+=2){
          let absent = true;
          if(this.sizes.includes(i)){
            absent = false;
            if(checkedSize){
              temp.push({
                value: i,
                absent: absent,
                checked: true
              });
              self.chosenData.size = i;
              checkedSize = false;
              continue;
            }
          }
          temp.push({
            value: i,
            absent: absent
          });
        }
        return temp;
      }
    },
    props: ['id', 'name', 'uid', 'link', 'image', 'price', 'colors', 'sizes', 'offer_price'],
    directives:{
      'click-outside': {
        bind: function (el, binding, vnode) {
          el.event = function (event) {
            if (!(el === event.target || el.contains(event.target))) {
              vnode.context[binding.expression](event);
            }
          };
          document.body.addEventListener('click', el.event)
        },
        unbind: function (el) {
          document.body.removeEventListener('click', el.event)
        }
      }
    }
  }
</script>