<template lang="html">
  <transition name="added-to-basket" v-if="messageShow">
    <div class="added-to-basket" @click="messageShow = false">
      <div class="added-to-basket__container">
        <div class="success-mark"></div>
        <p>dodano do koszyka</p>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      messageShow: false
    }
  },
  methods:{
    showMessage(){
      let self = this;
      self.messageShow = true;
      setTimeout(function(){
        if(self.messageShow) self.messageShow = false;
      },1500);
    }
  }
}
</script>