<template lang="html">
    <aside :class="{'order-aside_loading' : !ready, 'order-aside_loaded': !firstLoad}">
        <div class="order-aside__content" v-if="!firstLoad && products">
            <header>
                <h3>moje zamówienie</h3>
                <span>illość produktów: {{ products.length }}</span>
            </header>
            <ul v-if="products">
                <li v-for="product in products">
                    <a :href="this.window.location.origin + '/products/'+ product.id">
                        {{ product.name }} <span>({{ product.quantity }})</span>
                    </a>
                </li>
            </ul>
            <p v-else>
                nie dodano żadnego produktu
            </p>
            <footer>
                <dl>
                    <dt>wartość zamówienia:</dt>
                    <dd>{{ summary }} PLN</dd>
                </dl>
                <a :href="link" class="btn">{{ buttonText }}</a>
            </footer>
        </div>
    </aside>
</template>

<script>

  export default {
    data() {
      return {
        products: [],
        summary: 0,
        ready: false,
        firstLoad: true
      }
    },
    methods:{
      fetchBasket(){
        let self = this;
        self.ready = false;
        axios.post('/basket/sidebar').then(response => {
          self.products = response.data.products;
          self.summary = response.data.summary;
          if(!self.ready) self.ready = true;
          if(self.firstLoad) self.firstLoad = false;
        }).catch(err => {
          console.log(err.response);
          let messageId = '_' + Math.random().toString(36).substr(2, 9);
          window.messages.push({
            id: messageId,
            title: 'Niepowodzenie',
            message: `Błąd z kodem ${err.response.status}`,
            stateClass: 'fixed-messages__item_error',
            timeout: 9000
          })
        });
      }
    },
    props: ['link', 'button-text'],
    mounted(){
      this.fetchBasket();
    }
  }
</script>