<template lang="html">
    <div class="basket-list__right-part_loaded">
        <select class="select" :class="{'select_disabled': sending}" :disabled="sending ? true : false"
                v-model="productQuantity" @change.stop="changeQuantity($event)">
            <option v-for="n in 5" :value="n">{{ n }}</option>
        </select>
        <span class="basket-list__right-part-price">{{ totalPrice }} PLN</span>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        productQuantity: this.quantity,
        productPrice: this.price,
        sending: false,
        oldValue: ''
      }
    },
    watch: {
      productQuantity(newValue, oldValue) {
        this.oldValue = oldValue;
      }
    },
    methods: {
      changeQuantity() {
        let self = this,
          sendingData = {
            _token: window.LaravelToken,
            basket_uid: self.uid,
            quantity: self.productQuantity
          };
        self.sending = true;
        axios.post('/basket/quantity/change', sendingData).then(response => {
          let messageId = '_' + Math.random().toString(36).substr(2, 9);
          window.messages.push({
            id: messageId,
            title: response.data.message.title,
            message: response.data.message.text,
            stateClass: response.data.message.class,
            timeout: response.data.message.timeout ? response.data.message.timeout : 3000
          });
          self.sending = false;
          if (response.data.status === true) {
            self.$emit('refetchbasket');
          }else{
            self.productQuantity = self.oldValue;
          }
        }).catch(err => {
          self.productQuantity = self.oldValue;
          self.sending = false;
          console.log(err.response);
          let messageId = '_' + Math.random().toString(36).substr(2, 9);
          window.messages.push({
            id: messageId,
            title: 'Niepowodzenie',
            message: `Błąd z kodem ${err.response.status}`,
            stateClass: 'fixed-messages__item_error',
            timeout: 9000
          });
        });
      }
    },
    computed: {
      totalPrice: function () {
        return Math.round((this.productPrice * this.productQuantity) * 100) / 100;
      }
    },
    props: ['quantity', 'price', 'uid']
  }
</script>