<template lang="html">
    <div :class="{ open: isOpen }">

        <span @click="isOpen = !isOpen" v-click-outside="closeEvent"><slot name="text"></slot></span>

        <ul class="dropdown__menu">
            <slot></slot>
        </ul>
    </div>
</template>

<script>

  export default {
    data() {
      return {
        isOpen: false
      }
    },
    methods: {
      closeEvent: function () {
        this.isOpen = false;
      }
    },
    props: ['text'],
    directives:{
      'click-outside': {
        bind: function (el, binding, vnode) {
          el.event = function (event) {
            if (!(el === event.target || el.contains(event.target))) {
              vnode.context[binding.expression](event);
            }
          };
          document.body.addEventListener('click', el.event)
        },
        unbind: function (el) {
          document.body.removeEventListener('click', el.event)
        }
      }
    }
  }
</script>