<template lang="html">
    <div class="efect-form__input_ready" :class="{ 'efect-form__input_error': error }">
        <label :for="id" v-if="!inputValue">{{ placeholder }}<span class="efect-form__required-star"
                                                                   v-if="required">*</span></label>
        <textarea v-if="type === 'textarea'" :name="name" :id="id" @input="updateValue($event.target.value)"
                  v-model="inputValue" :readonly="readonly" rows="3"></textarea>
        <input v-else :name="name" :type="type" @input="updateValue($event.target.value)" :id="id" v-model="inputValue"
               :readonly="readonly">
        <span class="efect-form__error-message" v-if="inputError">{{ inputError }}</span>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        inputValue: this.value
      }
    },
    props: ['name', 'id', 'placeholder', 'oldvalue', 'required', 'type', 'error', 'value', 'oldvalue', 'readonly'],
    methods: {
      updateValue(value) {
        this.$emit('input', value);
      }
    },
    watch:{
      value(){
        this.inputValue = this.value;
      }
    },
    computed: {
      inputError() {
        if (this.error) {
          return this.error[0];
        } else {
          return "";
        }
      }
    },
    mounted() {
      if (this.oldvalue) {
        this.inputValue = this.oldvalue;
        this.updateValue(this.oldvalue);
      }
    }
  }
</script>