<template lang="html">
    <li :class="{ 'active' : opened }">
        <div @click="opened = !opened">
            <slot></slot>
        </div>
        <template v-if="opened">
            <slot name="detail-info"></slot>
        </template>
    </li>
</template>

<script>
  export default {
    data() {
      return {
        opened: false
      }
    }
  }
</script>