<template lang="html">
    <transition name="add-modal" v-if="tableShow">
        <div class="size-table-modal">
            <div class="size-table-modal__overlay"></div>
            <div class="size-table-modal__dialog" v-click-outside="closeTable">
                <div class="size-table-modal__content">
                    <button class="close-btn" @click.prevent="tableShow = false"></button>
                    <h6>tabela rozmiarowa</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum natus quisquam vel. Animi
                        architecto libero velit. Aut cumque eius exercitationem libero necessitatibus placeat provident quis
                        rem! Asperiores consectetur, consequuntur.</p>
                    <div class="size-table-modal__table-wrapper">
                        <table>
                            <thead>
                            <tr>
                                <th>rozmiar</th>
                                <th>XS</th>
                                <th>S</th>
                                <th>M</th>
                                <th>L</th>
                                <th>XL</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>obw. w klatce piersiowej</td>
                                <td>83-87</td>
                                <td>87-91</td>
                                <td>91-95</td>
                                <td>95-99</td>
                                <td>99-103</td>
                            </tr>
                            <tr>
                                <td>pas</td>
                                <td>65-69</td>
                                <td>69-73</td>
                                <td>73-77</td>
                                <td>77-81</td>
                                <td>81-85</td>
                            </tr>
                            <tr>
                                <td>biodra</td>
                                <td>89-93</td>
                                <td>93-97</td>
                                <td>97-101</td>
                                <td>101-105</td>
                                <td>105-109</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
  export default {
    data() {
      return {
        tableShow: false
      }
    },
    methods:{
      showTable(){
        this.tableShow = true;
      },
      closeTable(){
        this.tableShow = false;
      }
    },
    directives:{
      'click-outside': {
        bind: function (el, binding, vnode) {
          el.event = function (event) {
            if (!(el === event.target || el.contains(event.target))) {
              vnode.context[binding.expression](event);
            }
          };
          document.body.addEventListener('click', el.event)
        },
        unbind: function (el) {
          document.body.removeEventListener('click', el.event)
        }
      }
    }
  }
</script>