@font-face{
  font-family:"FuturaPT";
  font-style:normal;
  font-weight:500;
  src:url("../fonts/FuturaPT-Medium.eot");
  src:url("../fonts/FuturaPT-Medium.woff2") format('woff2'),
  url("../fonts/FuturaPT-Medium.woff") format('woff'),
  url("../fonts/FuturaPT-Medium.ttf") format('truetype'),
  url("../fonts/FuturaPT-Medium.eot?#iefix") format('embedded-opentype');
}

@font-face{
  font-family:"FuturaPT";
  font-style:normal;
  font-weight:600;
  src:url("../fonts/FuturaPT-Demi.eot");
  src:url("../fonts/FuturaPT-Demi.woff2") format('woff2'),
  url("../fonts/FuturaPT-Demi.woff") format('woff'),
  url("../fonts/FuturaPT-Demi.ttf") format('truetype'),
  url("../fonts/FuturaPT-Demi.eot?#iefix") format('embedded-opentype');
}

@font-face{
  font-family:"FuturaPT";
  font-style:normal;
  font-weight:700;
  src:url("../fonts/FuturaPT-Bold.eot");
  src:url("../fonts/FuturaPT-Bold.woff2") format('woff2'),
  url("../fonts/FuturaPT-Bold.woff") format('woff'),
  url("../fonts/FuturaPT-Bold.ttf") format('truetype'),
  url("../fonts/FuturaPT-Bold.eot?#iefix") format('embedded-opentype');
}