.main-footer{
  background-color: #f8f8f8;
  border-top: 1px solid #ececec;
  font-size: 12px;
  font-weight: 600;
  padding: 35px 0;
  @extend %clearboth;
  &__right-side{
    text-align: right;
  }
  ul{
    text-align: center;
    @media screen and (max-width: 991px){
      margin-bottom: 15px;
    }
    @media screen and (max-width: 500px){
      margin-bottom: 25px;
    }
  }
  li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 33px;
    @media screen and (max-width: 991px){
      margin-right: 15%;
    }
    @media screen and (max-width: 630px){
      margin-right: 5%;
    }
    @media screen and (max-width: 500px){
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }
    &:last-child{
      margin-right: 0;
    }
    a:hover,
    a:focus{
      opacity: 1;
      color: $orange_color;
    }
  }
  a{
    color: $dark_color;
    text-transform: uppercase;
  }
  p{
    margin: 0;
    span{
      text-transform: uppercase;
    }
  }
}