.main-header {
  position: relative;
  z-index: 500;
  &__wrapper {
    position: relative;
    z-index: 3;
    padding: 52px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ececec;
  }
  @extend %clearboth;
  &__left-side {
    float: left;
  }
  &__right-side {
    float: right;
    & > a {
      margin-left: 34px;
      @media screen and (max-width: 991px) {
        margin-left: 10px;
      }
    }
  }
  &__greet {
    color: $light_grey_color;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__logo {
    position: absolute;
    width: 186px;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    bottom: 0;
    @media screen and (max-width: 400px) {
      width: 120px;
    }
  }
  .burger,
  .search {
    display: inline-block;
    vertical-align: middle;
  }
  .burger {
    width: 20px;
    height: 14px;
    position: relative;
    margin-right: 33px;
    cursor: pointer;
    transition: opacity 150ms ease, transform 500ms ease;
    @media screen and (max-width: 767px) {
      margin-right: 15px;
    }
    &.open {
      transform: rotate(90deg);
      .burger__menu {
        background: rgba(15, 15, 15, 0);
        &:before {
          transform: rotate(-45deg);
          transform-origin: 17px 4px;
        }
        &:after {
          transform: rotate(45deg);
          transform-origin: 17px -2px;
        }
      }
    }
    &:hover {
      opacity: 0.6;
    }
    &__menu {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      left: 0;
      height: 2px;
      background-color: rgb(15, 15, 15);
      transition: all 200ms ease;
      &:after,
      &:before {
        content: '';
        position: absolute;
        transition: all 500ms ease;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: rgb(15, 15, 15);
      }
      &:before {
        top: -6px;
      }
      &::after {
        bottom: -6px;
      }
    }
  }
  .search {
    &__button {
      width: 18px;
      height: 18px;
      background-image: url('../images/search-icon.png');
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      cursor: pointer;
      transition: opacity 150ms ease;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .search-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    transition: all 500ms ease;
    &__input {
      background-color: #ffffff;
      padding: 45px 0;
      .container {
        position: relative;
      }
      input {
        border: none;
        width: 100%;
        font-size: 24px;
        color: $dark_color;
        padding-right: 25px;
        &::placeholder {
          color: $light_grey_color;
        }
        &:focus {
          outline: none;
        }
      }
      .close-btn {
        position: absolute;
        top: 0;
        right: 15px;
        bottom: 0;
        margin: auto;
      }
    }
    &__output {
      background: #ffffff;
      border-top: 1px solid $light_grey_color;
      padding: 60px 0 24px;
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
      }
      li {
        width: 20%;
        padding: 0 15px 34px;
        @media screen and (max-width: 991px) {
          width: 25%;
        }
        @media screen and (max-width: 700px) {
          width: 33.3333%;
        }
        @media screen and (max-width: 515px) {
          width: 50%;
        }
        a {
          &:hover,
          &:focus {
            opacity: 1;
            color: $dark_color;
            img {
              filter: contrast(75%)
            }
          }
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center top;
        transition: all 150ms ease;
      }
      figcaption {
        text-align: center;
      }
      h3 {
        margin: 16px 0 6px;
        font-size: 14px;
        letter-spacing: 0.5px;
      }
      .price_old {
        font-size: 14px;
        display: block;
      }
      .not-found {
        font-size: 24px;
        text-align: center;
        margin: 0;
        padding-bottom: 24px;
      }
    }
    &__image-wrapper{
      position: relative;
      padding-top: 139%;
    }
  }
  &__login {
    @media screen and (max-width: 600px) {
      overflow: hidden;
      width: 20px;
      height: 20px;
      background: url('../images/signin-icon.png') no-repeat center;
      background-size: 20px;
      color: transparent !important;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .dropdown {
    @media screen and (max-width: 700px){
      position: relative;
      top: 2px;
      &__opener{
        color: transparent !important;
        width: 20px;
        height: 19px;
        padding: 0;
        background: url('../images/user-icon.png') no-repeat center;
        background-size: 18px 17px;
        .caret {
          display: none;
        }
      }
    }
  }
  &__favorites {
    padding-left: 31px;
    background-image: url('../images/star-icon.png');
    background-size: 20px 19px;
    background-position: 0 center;
    background-repeat: no-repeat;
    @media screen and (max-width: 991px) {
      span {
        display: none;
      }
    }
    @media screen and (max-width: 460px){
      display: none;
    }
  }
  &__basket {
    width: 20px;
    height: 20px;
    background-image: url('../images/basket-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 7px;
    .counter {
      position: absolute;
      top: -10px;
      right: -7px;
    }
    &_loading {
      cursor: wait;
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(15, 15, 15, 0.25);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 500ms ease;
  }
  &__navigation {
    position: absolute;
    border-top: 1px solid #ececec;
    top: 100%;
    left: 0;
    right: 0;
    background: #f8f8f8;
    padding: 79px 0 34px;
    transition: all 500ms ease;
    opacity: 1;
    z-index: 2;
    @media screen and (max-width: 767px) {
      padding-top: 40px;
    }
    .navigation {
      padding: 0 0 0 100px;
      font-size: 36px;
      @media screen and (max-width: 1199px) {
        padding-left: 70px;
      }
      @media screen and (max-width: 991px) {
        padding-left: 0;
      }
      @media screen and (max-width: 767px) {
        padding-left: 40px;
      }
      @media screen and (max-width: 400px) {
        font-size: 28px;
      }
      & > li {
        margin: 0 0 9px;
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }
        & > a {
          position: relative;
        }
        & > a,
        .nested-links {
          transition: all 150ms ease;
          color: $light_grey_color;
          & > i {
            display: inline-block;
            vertical-align: middle;

          }
          &:before {
            content: '';
            position: absolute;
            top: 26px;
            left: -100px;
            width: 38px;
            height: 2px;
            background-color: $orange_color;
            transition: all 150ms ease;
            opacity: 0;
            pointer-events: none;
            @media screen and (max-width: 400px) {
              top: 20px;
            }
          }
          &:hover {
            opacity: 1;
            color: $dark_color;
            padding-left: 10px;
            &:before {
              left: -58px;
              opacity: 1;
            }
          }
        }
        .nested-links {
          display: inline-block;
          cursor: pointer;
          .caret {
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
          }
          & > a {
            color: $light_grey_color;
          }
          &:hover,
          &:focus {
            & > a {
              opacity: 1;
              color: $dark_color;
            }
            ul {
              opacity: 1;
              visibility: visible;
              left: 210px;
              pointer-events: auto;
              @media screen and (max-width: 1199px) {
                left: 190px;
              }
              @media screen and (max-width: 400px) {
                left: 150px;
              }
            }
          }
          ul {
            pointer-events: none;
            position: absolute;
            left: 160px;
            padding: 14px 0 0;
            top: 0;
            font-size: 22px;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            transition: all 150ms ease;
            @media screen and (max-width: 400px) {
              left: 100px;
            }
            &:before {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              right: 100%;
              width: 90px;
              @media screen and (max-width: 1199px) {
                width: 65px;
              }
            }
            li {
              margin: 0 0 16px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            a {
              color: $light_grey_color;
              &:hover {
                opacity: 1;
                color: $dark_color;
              }
            }
          }
        }
      }
    }
    .info {
      padding-top: 52px;
      @media screen and (max-width: 991px) {
        padding-top: 0;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
      .row {
        margin-bottom: 31px;
        @media screen and (max-width: 991px) {
          margin-bottom: 0;
        }
      }
      h3 {
        font-weight: 600;
        font-size: 24px;
        margin: 0 0 12px;
        @media screen and (max-width: 991px) {
          margin-bottom: 5px;
        }
      }
      p {
        font-size: 14px;
        margin: 0;
        @media screen and (max-width: 991px) {
          margin-bottom: 20px;
        }
      }
    }
    .social {
      text-align: right;
      img {
        max-height: 12px;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        &:first-child {
          margin-right: 20px;
        }
      }
      @media screen and (max-width: 767px) {
        padding: 0 15px;
      }
    }
  }
  &.menuOpen,
  &.searchOpen {
    .overlay {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }
  .main-header__navigation-enter,
  .main-header__navigation-leave-active,
  .search-content-enter,
  .search-content-leave-active {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    top: -50%;
  }

  .search-content-enter,
  .search-content-leave-active {
    top: 100%;
  }
}