body.overflow{
  overflow: hidden;
}

.add-modal,
.size-table-modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 680;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  transition: all 150ms ease;
  &::-webkit-scrollbar{
    width: 4px;
  }
  &::-webkit-scrollbar-track{
    background-color: $light_grey_color;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $dark_color;
  }
  &:before{
    @extend %inline-middle;
    content: '';
    width: 0;
    height: 100%;
    @media screen and (max-width: 960px){
      display: none;
    }
  }
  .close-btn{
    position: absolute;
    right: 0;
    top: -1px;
    width: 60px;
    height: 60px;
    background-color: #151515;
    @media screen and (max-width: 700px){
      width: 40px;
      height: 40px;
    }
    &:before,
    &:after{
      background-color: #ffffff;
    }
    &:before{
      transform-origin: -10px 56px;
      @media screen and (max-width: 700px){
        transform-origin: -1px 39px;
      }
    }
    &:after{
      transform-origin: 13px 54px;
      @media screen and (max-width: 700px){
        transform-origin: 4px 36px;
      }
    }
  }
  &__overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(15, 15, 15, 0.25);
    transition: all 500ms ease;
    z-index: 1;
    pointer-events: none;
  }
  &__dialog{
    @extend %inline-middle;
    position: relative;
    z-index: 2;
    text-align: left;
    background-color: #ffffff;
    transition: all 150ms ease;
    max-width: 100%;
    margin: 40px 0;
    border: solid #f7f5f3;
    border-width: 1px 0;
    @media screen and (max-width: 500px){
      margin: 20px 0;
    }
  }
}

.add-modal{
  @media screen and (max-width: 960px){
    padding: 0 30px;
  }
  @media screen and (max-width: 800px){
    padding: 0 15px;
  }
  &__dialog{
    width: 910px;
    @media screen and (max-width: 960px){
      width: 100%;
    }
  }
  &__content{
    padding: 40px;
    font-size: 0;
    @extend %clearboth;
    @media screen and (max-width: 700px){
      padding: 40px 20px;
    }
  }
  &__image-wrapper{
    @extend %inline-top;
    width: 370px;
    @media screen and (max-width: 960px){
      width: 300px;
    }
    @media screen and (max-width: 660px){
      width: 170px;
    }
    @media screen and (max-width: 500px){
      position: absolute;
      top: 30px;
      left: 20px;
      width: 80px;
    }
    @media screen and (max-width: 400px){
      position: relative;
      top: auto;
      left: auto;
      margin: 10px 0 15px;
      width: 100%;
    }
  }
  &__image{
    position: relative;
    padding-top: 137%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
  &__product-order{
    font-size: 16px;
    @extend %inline-top;
    max-width: calc(100% - 370px);
    padding: 0 30px;
    @media screen and (max-width: 960px){
      max-width: calc(100% - 300px);
    }
    @media screen and (max-width: 700px){
      padding: 0 0 0 30px;
    }
    @media screen and (max-width: 660px){
      max-width: calc(100% - 170px);
    }
    @media screen and (max-width: 500px){
      max-width: none;
      padding: 0;
      header{
        padding-left: 120px;
      }
    }
    @media screen and (max-width: 400px){
      header{
        padding-left: 0;
      }
    }
  }
  .product-order{
    header h5{
      @media screen and (max-width: 780px){
        font-size: 26px;
      }
    }
    br{
      display: none;
      @media screen and (max-width: 880px){
        display: block;
      }
    }
    &__favorite{
      @media screen and (max-width: 880px){
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
}

.add-modal-enter,
.add-modal-leave-active{
  opacity: 0;
  .add-modal__dialog,
  .size-table-modal__dialog{
    transform: scale(1.1);
  }
}

.size-table-modal{
  @media screen and (max-width: 700px){
    padding: 0 30px;
  }
  @media screen and (max-width: 490px){
    padding: 0 15px;
  }
  &__dialog{
    width: 672px;
    @media screen and (max-width: 700px){
      width: 100%;
    }
  }
  &__content{
    padding: 27px 35px;
  }
  &__table-wrapper{
    @media screen and (max-width: 700px){
      max-width: 100%;
      overflow: auto;
      &::-webkit-scrollbar{
        width: 4px;
        height: 4px;
      }
      &::-webkit-scrollbar-track{
        background-color: $light_grey_color;
      }
      &::-webkit-scrollbar-thumb{
        background-color: $dark_color;
      }
    }
  }
  h6{
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 16px;
    @media screen and (max-width: 490px){
      font-size: 28px;
    }
  }
  p{
    margin: 0 0 29px;
  }
  table{
    width: 100%;
    min-width: 580px;
  }
  th{
    font-weight: 500;
    text-align: center;
    &:first-child{
      text-align: left;
    }
  }
  td{
    border: 1px solid #ececec;
    text-align: center;
    padding: 9px 15px;
    width: 13%;
    font-size: 12px;
    &:first-child{
      width: auto;
      font-size: 16px;
      color: $light_grey_color;
      text-align: left;
    }
  }
}

.added-to-basket{
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
  font-size: 36px;
  transition: all 150ms ease;
  &:before,
  &__container{
    @extend %inline-middle;
    transition: all 150ms ease;
  }
  &:before{
    content: '';
    height: 100%;
    width: 1px;
  }
  p{
    margin: 0;
  }
}

.added-to-basket-enter,
.added-to-basket-leave-active{
  opacity: 0;
  .added-to-basket__container{
    transform: scale(1.1);
  }
}