.breadcrumbs{
  font-size: 14px;
  color: $light_grey_color;
  padding: 34px 0 35px;
  text-transform: lowercase;
  a{
    color: $light_grey_color;
    &:hover,
    &:focus{
      color: $dark_color;
      opacity: 1;
    }
  }
  .back-btn{
    float: right;
    margin-top: 2px;
    @media screen and (max-width: 650px){
      float: none;
      margin-top: 7px;
      display: inline-block;
    }
  }
  ul{
    float: left;
    @media screen and (max-width: 650px){
      float: none;
    }
  }
  @extend %clearboth;
  li{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 23px;
    &:after{
      content: '';
      position: absolute;
      top: 3px;
      bottom: 0;
      margin: auto;
      right: -15px;
      height: 5px;
      width: 5px;
      border: solid $light_grey_color;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg);
    }
    &:last-child{
      margin-right: 0;
      &:after{
        display: none;
      }
    }
  }
}