.efect-form{
  &_loading{
    @extend %loader;
  }
  &__row{
    &:after{
      @extend %clearboth;
    }
  }
  &__form-group{
    margin-bottom: 22px;
    &_captcha{
      .g-recaptcha{
        @media screen and (max-width: 380px){
          transform: scale(0.9);
          transform-origin: 0 0;
        }
      }
    }
  }
  &__required-star{
    color: $orange_color;
  }
  &__checkbox-link{
    text-decoration: underline;
    &:hover{
      text-decoration: underline;
    }
  }
  &__input{
    position: relative;
    height: 41px;
    background-color: #f8f8f8;
    cursor: wait;
    &_ready{
      height: auto;
      background-color: transparent;
      cursor: auto;
    }
    label{
      position: absolute;
      pointer-events: none;
      color: $light_grey_color;
      z-index: -1;
      left: 0;
      top: 9px;
    }
    input,
    textarea{
      width: 100%;
      padding: 9px 0;
      border: solid $light_grey_color;
      border-width: 0 0 1px;
      position: relative;
      background: transparent;
      z-index: 1;
      transition: all 150ms ease;
      &:focus{
        border-color: $dark_color;
        outline: none;
      }
    }
    textarea{
      resize: none;
    }
    &_error{
      input,
      textarea{
        border-color: $red_color;
      }
    }
  }
  &__error-message{
    display: block;
    margin: 6px 0 -8px;
    font-size: 14px;
    color: $red_color;
    &[v-cloak]{
      display: none;
    }
  }
  .checkbox__marker{
    border-radius: 6px;
  }
  &__buttons{
    text-align: center;
    margin-top: 33px;
    .btn{
      margin-right: 16px;
    }
  }
}

@keyframes circling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}