.info-list{
  &__title{
    font-weight: 500;
    font-size: 24px;
    margin: 0;
  }
  dl {
    margin: 19px -15px 28px;
    max-width: 600px;
    @extend %clearboth;
    @media screen and (max-width: 430px){
      margin-bottom: 15px;
    }
  }
  &__item {
    float: left;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 7px;
    font-size: 0;
    @media screen and (max-width: 991px) and (min-width: 768px), screen and (max-width: 620px){
      width: 100%;
    }
  }
  dt,
  dd {
    @extend %inline-middle;
    margin: 0;
    font-size: 16px;
  }
  dt {
    width: 40%;
    padding-right: 10px;
    color: $light_grey_color;
    @media screen and (max-width: 991px) and (min-width: 768px), screen and (max-width: 620px){
      width: 35%;
    }
    @media screen and (max-width: 430px){
      width: 100%;
      padding-right: 0;
      margin-bottom: 3px;
    }
  }
  dd {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (max-width: 991px) and (min-width: 768px), screen and (max-width: 620px){
      width: 65%;
    }
    @media screen and (max-width: 430px){
      width: 100%;
    }
  }
  &__info-line{
    margin: 18px 0 23px;
  }
}