.order-aside{
  margin-top: 59px;
  position: relative;
  height: 300px;
  background-color: #f8f8f8;
  @media screen and (max-width: 767px){
    display: inline-block;
    width: 300px;
    &_favorite{
      margin-left: 46px;
    }
  }
  @media screen and (max-width: 550px){
    margin-top: 30px;
    &_favorite{
      margin-left: 0;
    }
  }
  &_loaded{
    height: auto;
    background-color: transparent;
    width: auto;
  }
  &_loading{
    @extend %loader;
  }
  header{
    span{
      color: $light_grey_color;
      font-size: 14px;
    }
  }
  h3{
    line-height: 1;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 3px;
    @media screen and (max-width: 550px){
      font-size: 24px;
    }
  }
  ul{
    border: solid #ececec;
    border-width: 1px 0;
    padding: 18px 0;
    margin: 15px 0 0;
  }
  li{
    padding: 3px 0;
    span{
      color: $light_grey_color;
    }
  }
  dl{
    margin: 21px 0;
  }
  dt,
  dd{
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 3px;
    padding: 3px 0;
    line-height: 1;
  }
  dt{
    @media screen and (max-width: 1199px) and (min-width: 768px){
      display: block;
    }
  }
  dd{
    font-size: 20px;
    font-weight: 600;
    padding-left: 6px;
    padding-right: 6px;
    .hint{
      margin-left: 5px;
      vertical-align: bottom;
    }
  }
  &__total{
    color: #ffffff;
    background-color: #151515;
  }
}