.page-header{
  padding: 55px 0 11px;
  border-bottom: 2px solid #f9f9f9;
  @extend %clearboth;
  h1{
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    float: left;
    @media screen and (max-width: 560px){
      font-size: 24px;
      float: none;
    }
  }
  .back-btn{
    float: right;
    margin-top: 21px;
    @media screen and (max-width: 560px){
      float: none;
      display: inline-block;
      margin-top: 5px;
    }
  }
}