.product-order{
  &_loading{
    @extend %loader;
  }
  header{
    h1,
    h5{
      margin: 0;
      font-weight: 500;
      font-size: 36px;
      line-height: 1;
    }
    p{
      margin: 4px 0 1px;
      font-size: 12px;
      color: $light_grey_color;
    }
    .price{
      display: inline-block;
      margin: 9px 0 18px;
      font-size: 24px;
      &_old{
        font-size: 16px;
        margin-left: 5px;
      }
    }
  }
  &__br{
    display: none;
  }
  &__radiobutton-part{
    border: solid #ececec;
    border-width: 1px 0;
    padding: 20px 0 11px;
    margin-bottom: 30px;
  }
  &__form-group{
    margin-bottom: 15px;
  }
  h3,
  h6{
    font-weight: 500;
    margin: 0 0 8px;
    font-size: 16px;
  }
  .color-radiobutton,
  .size-radiobutton{
    margin-right: 5px;
    margin-bottom: 8px;
  }
  &__size-table{
    cursor: pointer;
    transition: all 150ms ease;
    font-size: 14px;
    border-bottom: 1px solid;
    display: inline-block;
    line-height: 1.3;
    &:hover,
    &:focus{
      opacity: 0.6;
    }
  }
  &__quantity-select{
    margin-left: 11px;
  }
  &__favorite{
    transition: all 150ms ease;
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
    cursor: pointer;
    padding-left: 31px;
    background-image: url(../images/star-icon.png);
    background-size: 20px 19px;
    background-position: 0 center;
    background-repeat: no-repeat;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 21px;
      height: 21px;
      left: -1px;
      top: 0;
      border-radius: 50%;
      border: 1px solid #151515;
      border-left-color: #ff9343;
      opacity: 0;
      transition: all 150ms ease;
      background-color: #fff;
      pointer-events: none;
      bottom: 0;
      margin: auto;
    }
    &_sending{
      &:before{
        pointer-events: auto;
        opacity: 1;
        animation: circling 500ms infinite linear;
      }
    }
    &:hover{
      opacity: 0.6;
    }
    &_chosen{
      background-image: url(../images/star-icon_orange.png);
    }
  }
  &_disabled{
    header{
      h1,
      h5,
      .price,
      .price_new{
        color: $light_grey_color;
      }
    }
  }
}

@keyframes circling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.color-radiobutton,
.size-radiobutton{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  input{
    display: none;
  }
  span{
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}

.size-radiobutton{
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  span{
    line-height: 29px;
    background-color: #c7c7c7;
    transition: all 150ms ease;
  }
  &_absent{
    color: #c7c7c7;
    span{
      cursor: not-allowed;
      background-color: transparent;
      border: 1px solid;
    }
  }
  input:checked ~ span{
    background-color: $orange_color;
  }
}

.color-radiobutton{
  position: relative;
  span{
    border: 1px solid transparent;
    transition: all 150ms ease;
    i{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      transition: all 150ms ease;
    }
  }
  input:checked {
    & ~ span{
      border-color: $orange_color;
      i{
        transform: scale(0.6);
      }
    }
  }
  &_disabled{
    span{
      cursor: not-allowed;
      border-color: $light_grey_color;
      i{
        transform: scale(0.6);
      }
    }
  }
}