.product{
  &__favorite-btn{
    padding: 0;
    width: 20px;
    height: 19px;
    background: transparent url('../images/star-icon.png') no-repeat;
    background-size: contain;
    outline: none;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
    transition: all 150ms ease;
    &:hover{
      opacity: 0.6;
    }
    &_chosen{
      background-image: url('../images/star-icon_orange.png');
      filter: brightness(150%);
    }
    &:before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
      border-radius: 50%;
      border: 1px solid $dark_color;
      border-left-color: $orange_color;
      opacity: 0;
      transition: all 150ms ease;
      background-color: #fff;
      pointer-events: none;
    }
    &_sending{
      &:before{
        pointer-events: auto;
        opacity: 1;
        animation: circling 500ms infinite linear;
      }
    }
  }
  &__image-wrapper{
    position: relative;
    padding-top: 139%;
    &:hover{
      .overlay{
        opacity: 1;
        @media screen and (max-width: 767px){
          background-color: rgba(15,15,15,0.25);
        }
      }
    }
    &>img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      top: 0;
      left: 0;
      position: absolute;
      transition: all 150ms ease;
      opacity: 0;
      &[lazy=loaded],
      &[lazy=error]{
        opacity: 1;
      }
    }
    .overlay{
      opacity: 0;
      transition: all 150ms ease;
      background-color: rgba(15,15,15,0.25);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      a{
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 50;
      }
      .btn{
        position: absolute;
        bottom: 55px;
        left: 0;
        right: 0;
        margin: auto;
        width: 155px;
        z-index: 100;
        @media screen and (max-width: 767px){
          display: none;
        }
      }
      @media screen and (max-width: 767px){
        opacity: 1;
        background-color: transparent;
      }
    }
  }
  &__description{
    text-align: center;
    padding: 26px 0 34px;
    a{
      display: block;
      color: $dark_color;
      margin-bottom: 9px;
      letter-spacing: 0.5px;
    }
    .price{
      display: block;
      font-size: 18px;
      &_old{
        font-size: 14px;
      }
    }
  }
  &_absent {
    .product__image-wrapper {
      .btn {
        display: none;
      }
    }
    .product__description {
      a,
      .price,
      .price_new,
      .price_old {
        color: $light_grey_color;
      }
    }
  }
}

@keyframes circling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.special-marks{
  position: absolute;
  top: 30px;
  left: 30px;
  text-align: left;
  z-index: 1;
  pointer-events: none;
  &__info{
    margin: 0 0 10px;
    padding: 13px 14px;
    background: #151515;
    color: #ffffff;
    display: inline-block;
  }
  &__offer{
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: $dark_color;
    font-size: 24px;
    transform: rotate(-90deg) translateY(15px);
    line-height: 0;
    &_discount{
      font-size: 20px;
      &:before{
        content: '';
        display: inline-block;
        position: relative;
        top: -5px;
        height: 2px;
        width: 20px;
        background-color: #151515;
        margin-right: 9px;
      }
    }
    &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
}