.delivery-info,
.client-info,
.products-info {
  margin-bottom: 15px;
}
.delivery-info .title,
.client-info .title,
.products-info .title {
  font-weight: 800;
  font-size: 20px;
  color: #F79246;
}
.info__item.map-link {
  margin-top: 10px;
}
.info__item a i {
  margin-right: 5px;
}
.products-list {
  list-style-type: none;
  padding: 0;
  margin-right: -15px;
  margin-left: -15px;
}
.products-list .product {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1600px) {
  .products-list .product.col-xlg-2 {
    width: 16.666666666666666%;
  }
}
.products-list .product .product__image {
  width: 100%;
  height: 0;
  padding-top: 133.333333%;
  position: relative;
}
.products-list .product .product__image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-list .product .product__name {
  text-align: center;
  margin: 5px 0;
  font-weight: 800;
}
.products-list .product .product__name a {
  color: black;
}
.products-list .product .product__size-color {
  display: flex;
  justify-content: center;
}
.products-list .product .product__size-color .color,
.products-list .product .product__size-color .size {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 2px;
}
.products-list .product .product__size-color .color {
  border: 1px solid #F79246;
}
.products-list .product .product__size-color .color i {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.products-list .product .product__size-color .size {
  background: #F79246;
  color: #ffffff;
  font-size: 12px;
}
.products-list .product hr {
  margin: 10px 0;
}
.products-list .product .product__price-quantity {
  text-align: center;
}
.products-list .product .product__price-quantity .quantity,
.products-list .product .product__price-quantity .price,
.products-list .product .product__price-quantity .summary {
  font-weight: 800;
}
.products-list .product .product__price-quantity .summary {
  color: #F79246;
}
