.delivery-info, .client-info, .products-info {
	margin-bottom: 15px;

	.title {
		font-weight: 800;
		font-size: 20px;
		color: #F79246;
	}
}

.info__item {
	&.map-link {
		margin-top: 10px;
	}

	a i {
		margin-right: 5px;
	}
}

.products-list {
	list-style-type: none;
	padding: 0;
	margin-right: -15px;
	margin-left: -15px;

	.product {
		margin-bottom: 30px;

		&.col-xlg-2 {
			@media only screen and(min-width: 1600px) {
				width: 16.666666666666666%;
			}
		}

		.product__image {
			width: 100%;
			height: 0;
			padding-top: 133.333333%;
			position: relative;

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.product__name {
			text-align: center;
			margin: 5px 0;
			font-weight: 800;

			a {
				color: black;
			}
		}

		.product__size-color {
			display: flex;
			justify-content: center;

			.color, .size {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				margin: 0 2px;
			}

			.color {
				border: 1px solid #F79246;

				i {
					display: inline-block;
					width: 16px;
					height: 16px;
					border-radius: 50%;
				}
			}

			.size {
				background: #F79246;
				color: #ffffff;
				font-size: 12px;
			}
		}

		hr {
			margin: 10px 0;
		}

		.product__price-quantity {
			text-align: center;

			.quantity, .price, .summary {
				font-weight: 800;
			}

			.summary {
				color: #F79246;
			}
		}
	}
}