@import "./common.scss";
@import "./components/efect-form";
@import "./components/order-aside";
@import "./components/page-header";
@import "./components/info-list";

.auth-header {
  border-bottom: 2px solid #f9f9f9;
  padding: 55px 0 11px;
  h1 {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    margin: 0;
  }
}

.report-page{
  .info-list{
    padding: 31px 0 38px;
    @media screen and (max-width: 550px){
      padding-top: 20px;
    }
  }
}

.register-page {
  padding: 87px 30px 83px;
  @media screen and (max-width: 500px){
    padding: 60px 30px;
  }
  @media screen and (max-width: 400px){
    padding: 60px 15px;
  }
  overflow: hidden;
  .efect-form {
    max-width: 670px;
    margin: 0 auto;
  }
  &__inputs-group {
    margin: 0 -45px;
    @extend %clearboth;
    @media screen and (max-width: 600px){
      margin: 0 -20px;
    }
    @media screen and (max-width: 500px){
      margin: 0;
    }
    &_second {
      margin: 35px -45px 12px;
      @media screen and (max-width: 600px){
        margin: 35px -20px 12px;
      }
      @media screen and (max-width: 500px){
        margin: 25px 0 12px;
      }
    }
    .efect-form__form-group {
      float: left;
      width: 50%;
      padding: 0 45px;
      @media screen and (max-width: 600px){
        padding: 0 20px;
      }
      @media screen and (max-width: 500px){
        padding: 0;
        width: 100%;
        float: none;
      }
    }
  }
  &__checkboxes-group {
    margin-bottom: 15px;
    .checkbox {
      &:first-child {
        margin-bottom: 12px;
      }
    }
  }
  &__additional {
    margin: -3px 0 12px;
    @extend %clearboth;
    .checkbox {
      float: left;
      clear: both;
    }
    p {
      float: right;
      margin: 0;
    }
  }
  &__checkbox-error {
    margin: -12px 0 10px;
    padding-left: 35px;
    &:last-of-type {
      margin: 0;
    }
  }
}

.login-block {
  padding: 80px 30px;
  @media screen and (max-width: 460px){
    padding: 60px 15px;
  }
  &__content{
    margin: 0 auto;
    max-width: 742px;
    position: relative;
    @extend %clearboth;

  }
  h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 28px;
    @media screen and (max-width: 460px){
      font-size: 28px;
    }
  }
  &__overlay,
  &__right-side {
    padding: 39px 40px 49px;
  }
  &__left-side {
    position: absolute;
    border-radius: 10px 0 0 10px;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url('../images/auth-bg.jpg') no-repeat;
    background-size: cover;
    color: #ffffff;
    overflow: hidden;
    @media screen and (max-width: 767px){
      width: 40%;
    }
    @media screen and (max-width: 600px){
      display: none;
    }
    &-content {
      display: table;
      width: 100%;
      height: 100%;
      position: relative;
    }
    p {
      position: absolute;
      bottom: 0;
      margin: 0;
    }
  }
  &__forget-pass {
    margin: -6px 0 34px;
  }
  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(15, 15, 15, 0.6);
  }
  &__right-side {
    border-radius: 0 10px 10px 0;
    float: right;
    width: 50%;
    border: solid #ececec;
    border-width: 1px 1px 1px 0;
    @media screen and (max-width: 767px){
      width: 60%;
    }
    @media screen and (max-width: 600px){
      width: 100%;
      border-width: 1px;
      border-radius: 10px;
    }
    @media screen and (max-width: 460px){
      padding: 30px 20px 40px;
    }
  }
  &__buttons {
    &_reset {
      margin-top: 58px;
    }
    .btn {
      margin-right: 17px;
    }
  }
  &__if-dont-remember-pass {
    margin: 38px 0 26px;
  }
}

.order-form {
  padding: 31px 65px 38px 0;
  @media screen and (max-width: 767px){
    padding: 31px 0 38px;
  }
  .checkbox {
    margin-bottom: 12px;
  }
  h3 {
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 8px;
  }
  &__input-group {
    @extend %clearboth;
    margin: 0 -20px 11px;
    @media screen and (max-width: 991px) and (min-width: 768px), screen and (max-width: 600px){
      margin: 0 -15px 11px;
    }
    @media screen and (max-width: 550px){
      margin: 0 0 11px;
    }
  }
  .efect-form__form-group {
    float: left;
    width: 50%;
    padding: 0 20px;
    @media screen and (max-width: 991px) and (min-width: 768px), screen and (max-width: 600px){
      padding: 0 15px;
    }
    @media screen and (max-width: 550px){
      padding: 0;
      float: none;
      width: 100%;
    }
  }
  &__checkbox-group {
    padding: 12px 0 17px;
    @extend %clearboth;
    .checkbox {
      display: block;
      margin-right: 35px;
      @media screen and (max-width: 460px){
        margin-right: 0;
      }
    }
  }
  &__checkbox-group-col {
    float: left;
  }
  &__footer {
    border-top: 1px solid #ececec;
    padding: 33px 0 0;
    position: relative;
    p {
      position: absolute;
      right: 0;
      top: 31px;
      margin: 0;
      @media screen and (max-width: 580px){
        display: none;
      }
    }
    .tooltip{
      display: inline-block;
    }
  }
}

.tooltip {
  position: relative;
  &__message {
    color: $light_grey_color;
    font-size: 14px;
    padding: 20px 25px;
    display: block;
    position: absolute;
    background-color: #fff;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 240%;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 20px 0 #cecece;
    transition: all 150ms ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    line-height: 1.8;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 6px solid #ffffff;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 8px;
    }
  }
  &:hover {
    .tooltip__message {
      bottom: 140%;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.hint {
  @extend %inline-middle;
  &__questioned-mark {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #c7c7c7;
    color: #ffffff;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    transition: all 150ms ease;
    &:hover {
      opacity: 0.6;
    }
  }
  .tooltip__message {
    top: 240%;
    bottom: auto;
    right: -28px;
    left: auto;
    width: 243px;
    text-align: left;
    &:before {
      border-bottom: 6px solid #ffffff;
      border-top: none;
      top: -5px;
      right: 31px;
      bottom: auto;
      left: auto;
    }
    &:after {
      top: auto;
      bottom: 100%;
    }
  }
  &:hover {
    .tooltip__message {
      top: 140%;
      bottom: auto;
    }
  }
}