$dark_color: #151515;
$dark_on_hover_color: #848484;
$orange_color: #ff9343;
$light_grey_color: #c8c8c8;
$red_color: #f13b3b;

%inline-middle{
  display: inline-block;
  vertical-align: middle;
}

%inline-top{
  display: inline-block;
  vertical-align: top;
}

%loading{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255, 0.5);
  z-index: 5;
  cursor: wait;
}

%loader{
  position: relative;
  &:before{
    @extend %loading;
  }
  &:after{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    border: 1px solid #151515;
    border-radius: 50%;
    border-left-color: #ff9343;
    animation: circling 500ms infinite linear;
    z-index: 6;
    cursor: wait;
  }
}

%clearboth{
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

@import "../../../public/libs/bootstrap/css/bootstrap.min";

@import "./components/core/fonts";
@import "./components/core/main-header";
@import "./components/core/main-footer";

@import "./components/product";

body{
  max-width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-size: 16px;
  color: $dark_color;
  font-family: "FuturaPT", sans-serif;
  font-weight: 500;
  background: #ffffff;
  &::-webkit-scrollbar{
    width: 4px;
  }
  &::-webkit-scrollbar-track{
    background-color: $light_grey_color;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $dark_color;
  }
}

label{
  cursor: pointer;
}

a{
  transition: all 150ms ease;
  color: $dark_color;
  &:hover,
  &:focus,
  &:visited{
    text-decoration: none;
    color: $dark_color;
  }
  &:hover{
    opacity: 0.6;
    color: $dark_color;
  }
}

.close-btn{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 15px;
  width: 15px;
  background: transparent;
  border: none;
  outline: none;
  transition: opacity 150ms ease;
  padding: 0;
  &:before,
  &:after{
    content: '';
    position: absolute;
    background-color: rgb(15,15,15);
    top: 0;
    height: 19.3px;
    width: 2px;
  }
  &:before{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 6px 16px 0;
  }
  &:after{
    right: 0;
    transform: rotate(-45deg);
    transform-origin: -4px 16px 0;
  }
  &:hover{
    opacity: 0.6
  }
}

.select{
  padding: 12px 21px 12px 12px;
  font-weight: 600;
  border: 1px solid #ebebeb;
  outline: none;
  width: 68px;
  font-size: 11px;
  appearance: none;
  background: url('../images/caret-down.png') no-repeat 66% center;
  background-size: 6px 3px;
  &::-ms-expand{
    display: none;
  }
  &_disabled{
    border-color: #9e9e9e;
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.cookies-warn{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  right: 0;
  background-color: #151515;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 0;
  -webkit-backface-visibility: hidden;
  p{
    margin: 0;
    padding-right: 100px;
  }
  .container{
    position: relative;
  }
  .btn{
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 12px;
    padding: 5px 13px;
    height: 27px;
    bottom: 0;
    margin: auto;
  }
}

.back-btn{
  position: relative;
  padding-left: 26px;
  font-size: 14px;
  color: $light_grey_color;
  &:hover{
    opacity: 1;
    color: $dark_color;
  }
  &:before,
  &:after{
    content: '';
    position: absolute;
    border: solid;
    border-width: 0 1px 1px 0;
  }
  &:before{
    width: 11px;
    height: 9px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &:after{
    width: 5px;
    height: 5px;
    transform: rotate(135deg);
    left: 1px;
    bottom: 3px;
  }
}

.price{
  letter-spacing: 1px;
  color: $dark_color;
  &_new{
    color: $orange_color;
  }
  &_old{
    color: $light_grey_color;
    text-decoration: line-through;
  }
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown{
  position: relative;
  @extend %inline-top;
  z-index: 5;
  &.open{
    ul{
      top: 140%;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
  &__opener{
    position: relative;
    padding-right: 16px;
    display: block;
    cursor: pointer;
    transition: all 150ms ease;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover{
      opacity: 0.6;
    }
    .caret{
      width: 0;
      height: 0;
      border-top: 5px solid $dark_color;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      top: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
  ul{
    padding: 16px 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 240%;
    right: -28px;
    transition: all 500ms ease;
    background: #fff;
    min-width: 100%;
    width: auto;
    white-space: nowrap;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 #cecece;
    &:before{
      content: '';
      width: 0;
      height: 0;
      border-bottom: 6px solid #ffffff;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      position: absolute;
      top: -5px;
      right: 27px;
    }
  }
  a,
  button{
    display: block;
    width: 100%;
    color: $light_grey_color;
    padding: 4px 25px;
    &:hover,
    &:focus{
      color: $dark_color;
      opacity: 1;
    }
  }
  button{
    border: none;
    outline: none;
    text-align: left;
    background-color: transparent;
    transition: all 150ms ease;
  }
}

.btn{
  background-color: $orange_color;
  color: #ffffff;
  padding: 11px 20px;
  outline: none;
  border: none;
  transition: all 150ms ease;
  display: inline-block;
  vertical-align: middle;
  @media screen and (max-width: 550px){
    padding: 8px 15px;
  }
  &:focus,
  &:visited{
    color: #ffffff;
    opacity: 1;
  }
  &:hover{
    opacity: 1;
    color: #ffffff;
    background-color: #ffae72;
  }
  &_disabled,
  &:disabled{
    background-color: #c7c7c7;
    cursor: not-allowed;
    &:hover{
      background-color: #c7c7c7;
      opacity: 0.8;
    }
  }
}

.counter{
  width: 21px;
  background-color: $orange_color;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px 0;
  @extend %inline-middle;
}

.checkbox{
  margin: 0;
  text-transform: lowercase;
  input{
    display: none;
    &:checked ~ .checkbox__marker{
      border-color: transparent;
      background-color: $orange_color;
      &:before{
        opacity: 1;
        transform: rotate(45deg) scale(1);
      }
    }
  }
  &__marker{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    top: -2px;
    background: transparent;
    transition: all 150ms ease;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      right: 0;
      left: 1px;
      opacity: 0;
      transition: all 150ms ease;
      transform: rotate(360deg) scale(0.5);
      bottom: 0;
      margin: auto;
      width: 4px;
      height: 9px;
      border: solid #fff;
      border-width: 0 1px 1px 0;
    }
  }
}

[v-cloak]{
  display: none;
}

.fail-mark,
.success-mark{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.fail-mark{
  background-color: $red_color;
  &:before,
  &:after{
    content: '';
    width: 4px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 9px;
  }
  &:before{
    left: 18px;
    transform: rotate(45deg);
  }
  &:after{
    right: 18px;
    transform: rotate(-45deg);
  }
}

.success-mark{
  background-color: $orange_color;
  &:before{
    content: '';
    position: absolute;
    display: block;
    top: -3px;
    right: 0;
    left: 1px;
    transform: rotate(45deg);
    bottom: 0;
    margin: auto;
    width: 8px;
    height: 18px;
    border: solid #fff;
    border-width: 0 3px 3px 0
  }
}


.main{
  min-height: calc( 100vh - 220px );
}

.fixed-messages{
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 30px;
  width: 200px;
  max-height: 100%;
  overflow: hidden;
  padding: 30px 0;
  pointer-events: none;
  &__item{
    background-color: #ffffff;
    border: 1px solid #ececec;
    padding: 20px;
    margin-bottom: 20px;
    transition: all 150ms ease;
    position: relative;
    &_error{
      border-color: $red_color;
      color: $red_color;
    }
    &_success{
      border-color: #2FC12F;
      color: #2FC12F;
    }
  }
  h6{
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 500;
  }
  p{
    margin: 0;
  }
}

.fixed-messages__item-enter,
.fixed-messages__item-leave-to{
  opacity: 0;
  transform: translateY(-30px);
}

.message-block,
.error-page{
  @extend .main;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  @media screen and (max-width: 600px){
    padding: 30px 15px;
  }
  &__buttons{
    br{
      display: none;
      @media screen and (max-width: 600px){
        display: block;
      }
    }
    a{
      &:last-child{
        margin-left: 17px;
        @media screen and (max-width: 600px){
          margin: 15px 0 0;
          display: inline-block;
        }
      }
    }
  }
}

.message-block{
  &__content{
    text-align: center;
    max-width: 585px;
  }
  h1{
    font-size: 48px;
    margin: 20px 0 0;
    font-weight: 500;
    @media screen and (max-width: 600px){
      font-size: 40px;
      margin-top: 10px;
    }
  }
  p{
    margin: 0;
    font-size: 20px;
    color: $light_grey_color;
    @media screen and (max-width: 600px){
      font-size: 18px;
    }
  }
  &__buttons{
    margin-top: 54px;
    @media screen and (max-width: 600px){
      margin-top: 30px;
    }
  }
}

.error-page{
  &__content{
    text-align: center;
    @media screen and (max-width: 850px){
      width: 100%;
    }
  }
  &__text{
    position: relative;
    min-height: 255px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 850px){
      width: 100%;
    }
    @media screen and (max-width: 750px){
      min-height: 200px;
    }
    @media screen and (max-width: 600px){
      display: block;
      min-height: 0;
    }
  }
  span{
    font-size: 330px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 0.8;
    color: #e7e7e7;
    z-index: 1;
    pointer-events: none;
    @media screen and (max-width: 750px){
      font-size: 250px;
    }
    @media screen and (max-width: 600px){
      font-size: 130px;
      display: block;
      margin-bottom: 20px;
      position: relative;
    }
  }
  p{
    margin: 0;
    position: relative;
    z-index: 2;
    font-size: 24px;
    background-color: #ffff;
    @media screen and (max-width: 600px){
      font-size: 20px;
    }
  }
  &__buttons{
    position: relative;
    z-index: 3;
    margin-top: 72px;
    @media screen and (max-width: 600px){
      margin-top: 20px;
    }
  }
}