@import "./common.scss";

@import "../../../public/libs/swiper/swiper";
@import "./components/product-order";
@import "./components/add-modal";

.main-header{
  &__navigation{
    background-color: #ffffff;
  }
  &__wrapper {
    background-color: #ffffff;
    border-bottom: none;
  }
}

.fixed-messages{
  li{
    background-color: #f8f8f8;
  }
}

.s-hero{
  position: relative;
  padding-top: 28.4%;
  @media screen and (max-width: 767px){
    padding-top: 50%;
  }
  @media screen and (max-width: 470px){
    padding-top: 65%;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 11;
    position: relative;
    transition: all 150ms ease;
    opacity: 0;
    &.swiper-lazy-loaded{
      opacity: 1;
    }
  }
  .swiper-pagination-bullet{
    width: 4px;
    height: 4px;
    opacity: 1;
    transition: all 150ms ease;
    background-color: $dark_color;
    &-active{
      transform: scale(2);
    }
  }
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 29px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 12px;
  }
  .swiper-lazy-preloader{
    border: 2px solid $dark_color;
    border-radius: 50%;
    border-left-color: $orange_color;
    animation: loader-spin 1s infinite linear;
    &:after{
      display: none;
    }
  }
}

.swiper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &:before{
    content: '';
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    border: 2px solid #151515;
    border-radius: 50%;
    border-left-color: #ff9343;
    animation: loader-spin 1s infinite linear;
  }
  .swiper-lazy-preloader{
    display: none;
  }
  &.swiper-container{
    &:before{
      display: none;
    }
    .swiper-lazy-preloader{
      display: block;
    }
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.s-products{
  text-align: center;
  padding-bottom: 80px;
  .filters{
    text-align: left;
    margin: 55px 0 38px;
    font-size: 36px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #f9f9f9;
      z-index: 1;
    }
    @media screen and (max-width: 600px){
      font-size: 24px;
      overflow-x: auto;
      white-space: nowrap;
      &::-webkit-scrollbar{
        width: 4px;
        height: 4px;
      }
      &::-webkit-scrollbar-track{
        background-color: $light_grey_color;
      }
      &::-webkit-scrollbar-thumb{
        background-color: $dark_color;
      }
    }
    a{
      color: $light_grey_color;
      margin-right: 38px;
      padding-bottom: 14px;
      display: inline-block;
      vertical-align: middle;
      border-bottom: 2px solid transparent;
      z-index: 2;
      position: relative;
      &:hover{
        color: $dark_color;
        opacity: 1;
      }
      &.active{
        color: $dark_color;
        border-bottom-color: inherit;
      }
      &:last-child{
        margin-right: 0;
      }
      @media screen and (max-width: 600px){
        margin-right: 17px;
      }
    }
  }
  .products{
    ul{
      margin: 0 -15px;
      display: flex;
      flex-wrap: wrap;
      &[v-cloak]{
        display: none;
      }
    }
    li{
      width: 33.333%;
      padding: 0 15px;
      @media screen and (max-width: 768px){
        width: 50%;
      }
      @media screen and (max-width: 460px){
        width: 100%;
      }
    }
    .product{
      &__image-wrapper{
        @media screen and (max-width: 560px){
          .discount{
            left: 0;
          }
        }
      }
      &__description{
        @media screen and (max-width: 560px){
          padding: 15px 0 24px;
        }
      }
    }
  }
  &__see-more-btn{
    margin-top: -10px;
  }
}