@import "./common.scss";

@import "./components/page-header";
@import "./components/efect-form";
@import "./components/breadcrumbs";

.contacts-content{
  padding: 38px 0 103px;
}

.contacts-left-part{
  @media screen and (max-width: 768px) and (min-width: 531px){
    padding-bottom: 35px;
  }
  &__image{
    position: relative;
    padding-top: 52%;
    overflow: hidden;
    margin-bottom: 43px;
    @media screen and (max-width: 991px) and (min-width: 768px), screen and (max-width: 530px){
      margin-bottom: 20px;
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center -180px;
      @media screen and (max-width: 991px){
        object-position: center -70px;
      }
    }
  }
  h3{
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 18px;
  }
  p{
    margin: 0 0 4px;
  }
  span{
    color: $light_grey_color;
  }
  a{
    text-decoration: underline;
  }
  &__information{
    &:after{
      @extend %clearboth;
    }
    margin: 0 -15px;
    @media screen and (max-width: 991px) and (min-width: 768px), screen and (max-width: 530px){
      margin: 0;
    }
  }
  &__information-block{
    float: left;
    padding: 0 15px;
    width: 50%;
    @media screen and (max-width: 991px) and (min-width: 768px), screen and (max-width: 530px){
      float: none;
      width: 100%;
      padding: 0 0 20px;
    }
  }
}

.contacts-right-part{
  padding: 0 10px;
  @media screen and (max-width: 991px){
    padding: 0;
  }
  @media screen and (max-width: 767px){
    max-width: 500px;
    margin: auto;
  }
  h2{
    font-weight: 600;
    font-size: 36px;
    margin: 0 0 20px;
    line-height: 1.1;
    span{
      color: $orange_color;
    }
    @media screen and (max-width: 1199px) and (min-width: 768px), screen and (max-width: 480px){
      font-size: 28px;
    }
  }
}

.s-about{
  padding: 38px 0 103px;
  &__image{
    float: right;
    width: 570px;
    margin-left: 30px;
    margin-bottom: 10px;
    @media screen and (max-width: 1199px){
      width: 500px;
    }
    @media screen and (max-width: 991px){
      width: 400px;
    }
    @media screen and (max-width: 991px){
      width: 350px;
    }
    @media screen and (max-width: 630px){
      width: 100%;
      max-width: 500px;
      float: none;
      margin: 0 auto 20px;
    }
  }
  p{
    text-indent: 35px;
    margin: 0 0 20px;
  }
  figure{
    padding-top: 56%;
    position: relative;
    overflow: hidden;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.s-other-pages{
  padding-bottom: 20px;
  aside{
    font-weight: 600;
    font-size: 24px;
    @media screen and (max-width: 991px) and (min-width: 768px){
      font-size: 18px;
    }
    @media screen and (max-width: 767px){
      margin-bottom: 40px;
    }
    a{
      color: $light_grey_color;
      &.active{
        color: $dark_color;
        position: relative;
        &:before{
          content: '';
          display: inline-block;
          width: 28px;
          height: 2px;
          background-color: #ff9343;
          vertical-align: middle;
          margin-right: 15px;
        }
      }
    }
    li{
      margin-bottom: 8px;
    }
  }
  &__right-part{
    @media screen and (min-height: 570px) and (min-width: 768px){
      position: relative;
      &:after{
        content: '';
        position: absolute;
        pointer-events: none;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 69%,rgba(255,255,255,1) 100%);
      }
    }
  }
  &__content{
    @media screen and (min-height: 570px) and (min-width: 768px){
      max-height: calc( 100vh - 331px );
      overflow: auto;
      padding-bottom: 100px;
      margin-right: -30px;
      padding-right: 30px;
      &::-webkit-scrollbar{
        width: 4px;
      }
      &::-webkit-scrollbar-track{
        background-color: $light_grey_color;
      }
      &::-webkit-scrollbar-thumb{
        background-color: $dark_color;
      }
    }
    h1,
    h2{
      font-weight: 600;
      text-align: center;
      line-height: 1.3;
    }
    h1{
      font-size: 36px;
      margin: 0 0 16px;
      @media screen and (max-width: 700px){
        font-size: 28px;
      }
    }
    h2{
      margin: 13px 0 16px;
      font-size: 24px;
    }
    ol{
      padding: 0;
      list-style-position: inside;
      margin: 0;
    }
    p{
      margin: 0 0 5px;
      text-indent: 39px;
    }
    b,
    strong{
      font-weight: 600;
    }
    &>ol{
      margin: 0 0 5px;
      &>li{
        text-indent: 39px;
        &>ol{
          list-style-type: lower-alpha;
          padding-left: 20px;
          &>li{
            &:before{
              content: ')';
              margin-left: -8px;
              padding: 0 1px;
              background: #ffffff;
              margin-right: 2px;
            }
            &>ol{
              padding-left: 20px;
              list-style-type: lower-alpha;
            }
          }
        }
      }
    }
    address{
      font-style: normal;
      line-height: 1.3;
      padding-left: 39px;
      margin-bottom: 15px;
      a{
        position: relative;
        font-size: 12px;
        padding-right: 9px;
        display: inline-block;
        margin-top: 5px;
        &:after{
          content: '';
          width: 5px;
          height: 5px;
          border: solid $dark_color;
          border-width: 1px 1px 0 0;
          transform: rotate(45deg);
          position: absolute;
          right: 0;
          top: 5px;
        }
      }
    }
  }
}