@import "./common.scss";

@import "./components/breadcrumbs";
@import "./components/product-order";
@import "./components/add-modal";

.product-content{
  padding-bottom: 18px;
  font-size: 0;
  margin: 0 -15px;
  @media screen and (max-width: 767px){
    margin-bottom: 30px;
  }
  @media screen and (max-width: 430px){
    .sl-wrapper{
      .sl-counter,
      .sl-close{
        top: 15px;
      }
      .sl-counter{
        left: 15px;
      }
      .sl-close{
        right: 15px;
      }
    }
  }
  &__left-part{
    width: 66.6666%;
    @media screen and (max-width: 1199px){
      width: 58.3333%;
    }
  }
  &__right-part{
    width: 33.33333%;
    @media screen and (max-width: 1199px){
      width: 41.66666667%;
    }
  }
  &__left-part,
  &__right-part{
    font-size: 16px;
    padding: 0 15px;
    @extend %inline-top;
    overflow: hidden;
    @media screen and (max-width: 650px){
      width: 100%;
    }
  }
  &__lightbox-loader[v-cloak]{
    display: block;
    width: 50%;
    padding-top: 66%;
    background-color: #f8f8f8;
  }
  &__images{
    position: relative;
    @extend %clearboth;
    .my-gallery{
      margin: 0 -15px;
      @media screen and (max-width: 430px){
        margin: 0;
      }
      &>a{
        display: block;
        width: 50%;
        padding-top: 66%;
        position: relative;
        float: left;
        @media screen and (max-width: 430px){
          float: none;
          width: 100%;
          padding-top: 139%;
        }
        &:hover{
          img{
            transform: none;
          }
        }
      }
      img{
        width: 100%;
        object-fit: cover;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 13px 26px;
        @media screen and (max-width: 430px){
          padding: 0 0 25px;
        }
      }
    }
  }
  .product-order{
    h1{
      @media screen and (max-width: 991px) and (min-width: 651px), screen and (max-width: 450px){
        font-size: 28px;
      }
    }
    &__br{
      @media screen and (max-width: 991px) and (min-width: 651px), screen and (max-width: 450px){
        display: block;
      }
    }
    &__favorite{
      @media screen and (max-width: 991px) and (min-width: 651px), screen and (max-width: 450px){
        margin: 15px 0 0;
      }
    }
  }
}

.last-seen-products{
  overflow: hidden;
  h2{
    font-weight: 500;
    font-size: 36px;
    margin: 0 0 47px;
    @media screen and (max-width: 767px){
      font-size: 28px;
      margin: 0 0 30px;
    }
  }
  ul{
    margin: 0 -15px;
    font-size: 0;
  }
  li{
    font-size: 16px;
    width: 33.333%;
    padding: 0 15px 15px;
    @extend %inline-top;
    @media screen and (max-width: 767px){
      width: 50%;
    }
    @media screen and (max-width: 430px){
      width: 100%;
    }
  }
}