@import "./common.scss";

@import "./components/page-header";
@import "./components/product-order";
@import "./components/add-modal";

.page-header{
  margin-bottom: 31px;
  @extend %clearboth;
  h1{
    float: left;
  }
  .dropdown{
    float: right;
    margin-top: 20px;
    z-index: 200;
  }
  @media screen and (max-width: 767px){
    margin-bottom: 21px;
    position: relative;
    .dropdown{
      position: absolute;
      right: 15px;
      bottom: -45px;
      &__menu{
        right: 0;
      }
    }
  }
}

.s-all-products{
  &__no-products{
    margin: 15px 0;
    font-size: 24px;
  }
  &__filter-on-btn{
    @extend %inline-middle;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    margin-bottom: 23px;
    transition: all 150ms ease;
    &:focus{
      outline: none;
    }
    &:hover{
      opacity: 0.6;
    }
    @media screen and (min-width: 768px){
      display: none;
    }
  }
}

.filters{
  padding-bottom: 80px;
  position: relative;
  &[v-cloak]{
    display: block;
    @media screen and (max-width: 767px){
      display: none;
    }
    &:before{
      @extend %loading;
    }
  }
  &_sending:before{
    @extend %loading;
  }
  @media screen and (max-width: 767px){
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 800;
    background-color: #fff;
    padding: 20px 25px;
    transition: all 150ms ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.5);
    max-height: 100%;
    overflow: auto;
    &::-webkit-scrollbar{
      width: 4px;
    }
    &::-webkit-scrollbar-track{
      background-color: $light_grey_color;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $dark_color;
    }
    &_open{
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: scale(1);
    }
  }
  header{
    margin-bottom: 27px;
    button{
      border: none;
      background: none;
      outline: none;
      transition: all 150ms ease;
      color: $light_grey_color;
      &:first-child{
        padding: 0;
      }
      &:focus{
        outline: none;
      }
      &:hover{
        opacity: 0.6;
      }
    }
    .close-btn{
      width: 10px;
      height: 10px;
      position: relative;
      margin-left: 2px;
      top: -1px;
      &:before,
      &:after{
        background-color: $light_grey_color;
        width: 1px;
        height: 13px;
      }
      &:before{
        transform-origin: 5px 11px;
      }
      &:after{
        transform-origin: -4px 11px;
      }
    }
    .back-btn{
      float: right;
      font-size: 16px;
      &:after{
        bottom: 5px;
      }
      &:hover{
        color: $light_grey_color;
      }
    }
    &:after{
      @extend %clearboth;
    }
  }
  footer{
    text-align: right;
    padding: 30px 25px;
    clear: both;
  }
  header,
  footer{
    @media screen and (min-width: 768px){
      display: none;
    }
  }
  h3{
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 18px;
    @media screen and (max-width: 767px){
      cursor: pointer;
      margin-bottom: 0;
      display: inline-block;
      color: $light_grey_color;
      &.filters__title_open{
        margin-bottom: 12px;
        position: relative;
        color: $dark_color;
        &:before{
          content: '';
          position: absolute;
          top: 4px;
          bottom: 0;
          left: -34px;
          margin: auto;
          width: 19px;
          height: 2px;
          background-color: $orange_color;
        }
      }
    }
  }
  .checkbox{
    display: block;
    margin-bottom: 15px;
    @media screen and (max-width: 767px){
      margin-bottom: 9px;
    }
  }
  &__item{
    margin-bottom: 28px;
    @media screen and (max-width: 767px){
      padding: 0 34px;
      margin-bottom: 0;
    }
    &_price{
      @media screen and (max-width: 767px){
        .filters__item-content{
          display: block;
          visibility: hidden;
          pointer-events: none;
          &_open{
            visibility: visible;
            pointer-events: auto;
          }
        }
      }
    }
  }
  &__size-checkboxes{
    max-width: 160px;
    columns: 2;
  }
  &__item-content{
    @media screen and (max-width: 767px){
      display: none;
    }
    &_open{
      display: block;
    }
  }
}

.all-products-wrapper_loading{
  @extend %loader;
}

.all-products{
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  li{
    width: 50%;
    padding: 0 15px;
    @media screen and (max-width: 465px){
      width: 100%;
    }
  }
}

.pagination{
  padding: 8px 0 80px;
  font-size: 12px;
  text-align: center;
  li{
    display: inline-block;
    vertical-align: middle;
    &.active{
      a,span{
        color: #ffffff;
        background-color: $orange_color;
      }
    }
    &.pagination__prev,
    &.pagination__next{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      &:after{
        content: '';
        height: 1px;
        width: 11px;
        background-color: #050505;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      &:before{
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-right: 1px solid #050505;
        border-bottom: 1px solid #050505;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      a{
        padding: 0;
        height: 37px;
      }
    }
    &.pagination__prev:before{
      left: 12px;
      transform: rotate(135deg);
    }
    &.pagination__next:before{
      right: 12px;
      transform: rotate(-45deg);
    }
  }
  a,
  span{
    color: $dark_color;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    padding: 10px 0;
    width: 37px;
    &:hover,
    &:focus{
      outline: none;
    }
  }
}

.arrow{
  height: 1px;
  width: 11px;
  display: inline-block;
  vertical-align: middle;
  background-color: #050505;
  position: relative;
  &.right:before,
  &.left:before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-right: 1px solid #050505;
    border-bottom: 1px solid #050505;
    top: -2px;
  }
  &.right:before{
    left: 7px;
    transform: rotate(-45deg);
  }
  &.left:before{
    right: 7px;
    transform: rotate(135deg);
  }
}