@import "./common.scss";
@import "./components/efect-form";
@import "./components/product-order";
@import "./components/add-modal";
@import "./components/order-aside";
@import "./components/info-list";

.page-header span {
  color: $light_grey_color;
}

.basket {
  padding-bottom: 42px;
  &__no-products {
    font-size: 24px;
    margin: 32px 0;
  }
}

.basket-list {
  position: relative;
  padding: 34px 25px 8px 0;
  @media screen and (max-width: 767px) {
    padding-right: 0;
  }
  & > li {
    padding: 30px 0 30px 246px;
    border-bottom: 1px solid #ececec;
    position: relative;
    min-height: 290px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: 550px) {
      padding: 20px 0 20px 155px;
      min-height: 229px;
    }
    &:last-child {
      border-bottom: none;
    }
    & > .close-btn {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      @media screen and (max-width: 550px) {
        right: 0;
        left: auto;
        bottom: auto;
        top: 20px;
      }
    }
    &.removing {
      @extend %loader;
    }
  }
  .price {
    font-size: 18px;
    &_old {
      font-size: 14px;
      margin-left: 8px;
    }
    @media screen and (max-width: 550px) {
      font-size: 16px;
      display: block;
      &_old {
        font-size: 12px;
        margin: 0;
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(15, 15, 15, 0.25);
    transition: all 150ms ease;
    opacity: 0;
  }
  &__image-part {
    position: absolute;
    left: 46px;
    width: 170px;
    top: 30px;
    @media screen and (max-width: 550px) {
      top: 20px;
      width: 140px;
      left: 0;
    }
    a {
      display: block;
      position: relative;
      padding-top: 135%;
      &:hover {
        opacity: 1;
        .basket-list__overlay {
          opacity: 1;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__info-part {
    @media screen and (min-width: 992px){
      max-width: 200px;
    }
    @media screen and (min-width: 1200px){
      max-width: 300px;
    }
    header {
      margin-bottom: 6px;
      span {
        font-size: 12px;
        color: $light_grey_color;
      }
    }
    h2 {
      font-weight: 500;
      font-size: 24px;
      margin: 0;
      line-height: 1;
      @media screen and (max-width: 550px) {
        font-size: 16px;
      }
    }
  }
  &__additional-info {
    border-top: 1px solid #ececec;
    margin-top: 14px;
    padding-top: 14px;
    @media screen and (max-width: 550px){
      font-size: 14px;
    }
    li {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin-right: 27px;
    }
    p {
      margin: 0;
    }
    span {
      margin-top: 6px;
      width: 30px;
      height: 30px;
      display: inline-block;
      background-color: $orange_color;
      line-height: 30px;
      color: #ffffff;
      font-size: 11px;
      border-radius: 50%;
    }
  }
  &__right-part {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: right;
    &:before {
      content: '';
      @extend %inline-middle;
      width: 140px;
      height: 44px;
      background-color: #f8f8f8;
    }
    &_loaded {
      &:before {
        display: none;
      }
    }
    @media screen and (max-width: 991px) {
      position: relative;
      text-align: left;
      margin-top: 15px;
    }
    &:after {
      content: '';
      @extend %inline-middle;
      height: 100%;
    }
    .select,
    .price,
    button {
      @extend %inline-middle;
    }
    .select {
      margin-right: 61px;
    }
  }
  &__right-part-price {
    font-size: 18px;
  }
  &__quantity-ordered {
    font-size: 14px;
    margin-right: 200px;
    color: $light_grey_color;
    & > span {
      color: $dark_color;
    }
    @media screen and (max-width: 991px){
      margin-right: 100px;
    }
    @media screen and (max-width: 550px){
      margin-right: 0;
    }
  }
  &_basket {
    @media screen and (max-width: 991px) {
      & > li {
        padding-bottom: 76px;
        min-height: 337px;
      }
      .basket-list__right-part {
        margin-top: 0;
        position: absolute;
        bottom: 20px;
        top: auto;
        left: 46px;
        right: 0;
      }
      .basket-list__right-part-price {
        float: right;
        position: relative;
        top: 8px;
      }
    }
    @media screen and (max-width: 550px) {
      & > li {
        min-height: 286px;
      }
      .basket-list__right-part {
        left: 0;
      }
    }
  }
}

.profile-header {
  background-color: #f8f8f8;
  margin-top: 0;
  text-align: center;
  border-bottom: 1px solid #ececec;
  padding: 21px 0;
  @media screen and (max-width: 700px) {
    overflow: auto;
    &::-webkit-scrollbar {
      height: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: $light_grey_color;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $dark_color;
    }
  }
  ul {
    @media screen and (max-width: 700px) {
      white-space: nowrap;
    }
  }
  li {
    @extend %inline-middle;
    margin-right: 37px;
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 991px) {
      margin-right: 12px;
    }
  }
  span {
    transition: all 150ms ease;
  }
  a,
  span {
    color: $light_grey_color;
    &.active,
    &:hover,
    &:focus {
      opacity: 1;
      color: $dark_color;
      .counter {
        background-color: $orange_color;
      }
    }
  }
  .counter {
    background-color: $light_grey_color;
    transition: all 150ms ease;
    margin-left: 2px;
    color: #fff;
    &:hover,
    &:focus {
      color: #ffffff;
    }
  }
}

.profile-content {
  padding: 52px 0 40px;
  overflow: hidden;
  h3 {
    @extend .info-list__title;
  }
  &__input-groups {
    padding: 8px 0 11px;
    &_col-2 {
      @extend %clearboth;
      margin: 0 -20px;
      .efect-form__form-group {
        float: left;
        width: 50%;
        padding: 0 20px;
      }
      @media screen and (max-width: 991px) and (min-width: 768px), screen and (max-width: 600px){
        margin: 0 -15px;
        .efect-form__form-group{
          padding: 0 15px;
        }
      }
      @media screen and (max-width: 530px){
        margin: 0;
        .efect-form__form-group{
          padding: 0;
          float: none;
          width: 100%;
        }
      }
    }
  }
  .efect-form {
    &__input {
      input {
        color: $light_grey_color;
        &:focus {
          color: $dark_color;
        }
      }
    }
    &__buttons {
      text-align: left;
      margin-top: 17px;
    }
  }
  &__tab-links {
    br{
      @media screen and (min-width: 520px){
        display: none;
      }
    }
    a {
      font-size: 24px;
      color: $light_grey_color;
      margin-right: 32px;

      &.active, &:hover, &:focus {
        color: $dark_color;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.profile-aside {
  padding-bottom: 30px;
  h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 16px;
    border-bottom: 1px solid #ececec;
    line-height: 1;
    padding-bottom: 14px;
  }
  li {
    padding: 5px 0;
  }
  button {
    padding: 0;
    display: inline;
    border: none;
    background: transparent;
    transition: all 150ms ease;
    &:hover,
    &:focus {
      outline: none;
      opacity: 0.6;
    }
  }
}

.last-seen-products{
  padding: 64px 0 40px;
  ul{
    margin: 0 -15px;
    font-size: 0;
  }
  li{
    font-size: 16px;
    width: 33.333%;
    padding: 0 15px 15px;
    @extend %inline-top;
    @media screen and (max-width: 767px){
      width: 50%;
    }
    @media screen and (max-width: 430px){
      width: 100%;
    }
  }
}

.profile-orders {
  margin: 21px 0 0;

  &__item {
    margin: 0 -30px;
    &.active {
      .short-info {
        border-top-color: $dark_color;
        background: $dark_color;

        .order-number, .info-group .value {
          color: #FFFFFF;
        }
        .arrow-down {
          border-color: #fff;
          transform: rotateZ(-135deg);
          top: 10px;
        }
        &:hover {
          background-color: $dark_color;
          opacity: 0.8;
        }
      }
    }

    &:first-child{
      .short-info{
        border-top: 1px solid #ececec;
      }
    }

    .short-info {
      border-bottom: 1px solid #ececec;
      padding: 29px 15px;
      cursor: pointer;
      transition: all 150ms ease;
      background-color: #fff;
      position: relative;
      font-size: 0;
      &:hover {
        background-color: #ececec;
      }

      .info-group {
        font-size: 16px;
        @extend %inline-middle;
        width: 16.66666%;
        padding: 0 15px;
        &_status {
          width: 31.3333%;
        }
        @media screen and (max-width: 767px){
          width: 50%;
          &_order-number{
            width: 100%;
          }
        }
        @media screen and (max-width: 450px){
          width: 100%;
        }
        .value{
          display: inline-block;
        }
        .title {
          color: $light_grey_color;
        }
      }

      .arrow-down {
        width: 10px;
        height: 10px;
        border: solid #151515;
        border-width: 0 1px 1px 0;
        transform: rotateZ(45deg);
        transition: all 150ms ease;
        position: absolute;
        right: 30px;
        top: 0;
        bottom: 0;
        margin: auto
      }
    }

    .detail-info {
      padding: 25px 30px 0;
      .order-info-list {
        font-size: 0;
        margin: 0 -15px;

        .list-column {
          width: 25%;
          @extend %inline-top;
          white-space: nowrap;
          overflow: hidden;
          @media screen and (max-width: 991px){
            width: 50%;
          }
          @media screen and (max-width: 450px){
            width: 100%;
          }
          .info-column {
            font-size: 16px;
            padding: 0 15px;
            @extend %inline-top;
            width: 66.6666%;
            &_first{
              width: 33.33333%;
            }
            @media screen and (max-width: 1199px){
              width: 60%;
              &_first{
                width: 40%;
              }
            }
            @media screen and (max-width: 991px){
              width: 72%;
              &_first{
                width: 28%;
                min-width: 100px;
              }
            }
            .value{
              overflow: auto;
              &::-webkit-scrollbar{
                height: 4px;
              }
              &::-webkit-scrollbar-track{
                background-color: $light_grey_color;
              }
              &::-webkit-scrollbar-thumb{
                background-color: $dark_color;
              }
            }
            .title,
            .value{
              display: block;
            }
            .title {
              color: $light_grey_color;
            }
          }
        }
      }
    }

  }
  .basket-list {
    padding-top: 0;
    & > li {
      padding-left: 200px;
      @media screen and (max-width: 550px){
        padding-left: 155px;
        padding-bottom: 76px;
        min-height: 286px;
      }
    }
    &__image-part{
      left: 0;
    }
    @media screen and (max-width: 550px){
      &__right-part{
        position: absolute;
        left: 0;
        top: auto;
        bottom: 30px;
      }
      &__right-part-price{
        float: right;
        position: relative;
        top: -2px;
      }
    }
  }
}